﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ShowCities</title>
    <link type="text/css" rel="stylesheet" href="~/css/style.css" />
</head>
<body>
    <h1>Select City</h1>
    @foreach (var item in ViewBag.Cities)
    {
        @*<p>@item.Key</p>*@
        @*<h2>
            <a asp-action="ShowDataForCity" asp-route-cityname="@item.Key">@item.Key</a>
        </h2>*@
        @await Component.InvokeAsync("City", item.Key)
   }
</body>
</html>
